*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0p;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
.wrapper{
    width: 1100px;
    margin: auto;
    position: sticky;

}
.logo a {
    font-size: 50px;
    align-items: center;
    font-weight: 800px;
    float: left;
    font-family:'Courier New', Courier, monospace;
    color: #ca4153;
}
.menu{
    float: right;

}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: static;
    position: -webkit-sticky;
    top: 0;
    background-color:#f5b0b3; 
}
nav ul {
    list-style-type: none;
    margin: 10px;
    cursor: pointer;
}
nav ul li {
    float: left;
}
nav ul li a {
    color:#ca4153 ;
    font-weight: unset;
    text-align: center;
    padding: 15px 10px 15px 10px;
    text-decoration: none;
}
nav ul li a :hover {
    text-decoration: underline;
}


.home {
  position: absolute;
  top: 50px;


    
}
.home img {
    width: 210ox;
    height: 210px;
    float: left;
    border-radius: 20px;
    background-color : #f5b0b3; 
}
.tagline {
    text-align: center;
    margin-top: 500px;
    font-family:'Courier New', Courier, monospace;
    font-size:50px;
    color:#ca4153;
    line-height: 30px;
}
.btn a  {
    position:relative;
    padding:6px 15px;
    left:50px;
    border:2px solid #f5b0b3;
    background-color:#f5b0b3;
    color :#ca4153;
    border-radius: 20px;
    
}
.btn a hover  {
    background-color:#f5b0b3;
    color:#f5b0b3;
}


footer {
    position: absolute;
    height: 70px;
    line-height: 50px;
    background:#f5b0b3;
    color: #ca4153;
    position: absolute;
    bottom: -20px;
    width: 100%;
    text-align: center;
    font-family: optional;
    margin-bottom: 20px;
}
.bingkai{
    border: 3px solid;
    border-radius: 20px;
    height: 300px ;
    color: #f5b0b3;
    margin: 60px;

    
}
.foto{
    width: 210ox;
    height: 210px;
    float: left;
    border-radius: 20px;
    background-color: var(--primary-color); 
}
#icon{
    width: 20px;
    cursor: pinter;
}
:root{
    --primary-color : #f5b0b3;
    --secondary-color : #ca4153;
}
.darkmode{
    --primary-color :black;
    --secondary-color : #f5b0b3;

}#form{
    text-align: center;
    align-content: center;
    font-size: 15px;
    color: #33755a;
    display: flex;
    /* flex-direction: column; */
    align-items: flex-end;
    overflow: hidden;
    margin-top:13px;
    padding-top: 5px;
    font-family: monospace;
 }
 
.input{
    position: absolute;
    max-width: 510px;
    width: 100%;
    background-color : rgb(252, 252, 252);
    /* background-image: url(https://i.pinimg.com/564x/dd/6e/7c/dd6e7cab19114331503d64d32b3f716b.jpg); */
    padding: 25px 30px;
    width: 700px;
    height: 415px;
    margin-top: 12px;
    margin-left: 250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 
 }

 .boxinput2{
    position: absolute;
    background-color:var(--primary-color) ;
    color: #33755a;
    width: 390px;
    height: 465px;
    margin-top: 10.5px;
    margin-left: 800px;
 }
 #awal {
     color: #33755a;
     font-size: 20px;
     font-family: monospace;
     text-align:left;

 }
 #judul {
     margin-top: 50px;
     text-align: center;
     color: #33755a;
     font-size: 20px;
     font-family: monospace;
 }

 input{
    outline:none;
    padding-bottom: 5px;
    width: 80%;
    border: none;
    border-bottom: 1px solid rgb(85, 85, 85);
 }
 
 #submitt{
    background-color: #33755a;
    font-size: 30px;
 }
 
 .input p {
     color: #33755a;
     text-align: center;
     font-size: 20px;
     font-family: monospace;
 }

 .table{
     border : 2px solid black;
 }


  .container {
      color: #33755a;
      font-family :Arial, Helvetica, sans-serif;
      font-size: 30px;
  }

.boxinput2 h1{
    padding-left: 10px;
    padding-top: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
}

tr td :first-child{
    font-family:Verdana, Geneva, Tahoma, sans-serif   ;
    color: #33755a;
    padding-right: 35px;
}

tr td {
      padding-top: 20px;

  }

.boxinput2 tr td:first-child{
    padding-left: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif   ;
    color: rgb(255, 255, 255);
    padding-right: 35px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px;
    align-items: center;
    grid-gap: 30px;
  
}
.grid > article{
    box-shadow: 10px 5px 5px 0 #ca4153;
    border-radius: 30px;
    text-align: center;
    background-color: #ca4153;
    width: 300px;
    transition: transorm;
}
.grid >article img {
    border-top-left-radius:20px ;
    border-top-right-radius: 20px;
    width: 100%;
}
.paragraf{
    text-transform: uppercase;
    cursor: progress;
    color: #f5b0b3;
    font-family:'Bungee Spice','Dancing Script', 'Dangrek', 'Roboto';
    font-size: 15px;

}
.grid > article:hover{
    transform:rotate(15deg);
    transform: scale(0.5);
}
.konten{
    margin-top: 500px;
}
.heading{
    align-items: center;
    margin-left: 550px;
    color:#ca4153;
    font-family:'Bungee Spice','Dancing Script', 'Dangrek', 'Roboto';
    font-size: 30px;
    margin-top: 550px;
 
}

.heading1{
    align-items: center;
    margin-left: 570px;
    color:#ca4153;
    font-family:'Bungee Spice','Dancing Script', 'Dangrek', 'Roboto';
    font-size: 20px;
    margin-top: 150px;
 
}
.grid2{
    display: grid;
    margin: 50px;
    align-items: center;
    grid-gap: 30px;
}
.grid2 > article{
    box-shadow: 10px 5px 5px 0 #ca4153;
    margin-left: 440px;
    margin-top: 20px;
    border-radius: 30px;
    text-align: center;
    background-color: #ca4153;
    width: 300px;
    transition: transorm;
}
.grid2 >article img {
    border-top-left-radius:20px ;
    border-top-right-radius: 20px;
    width: 100%;
}
.paragraf{
    text-transform: uppercase;
    color: #f5b0b3;
    font-family:'Bungee Spice','Dancing Script', 'Dangrek', 'Roboto';
    font-size: 15px;

}

